<div class="flex justify-center">
  <div class="card w-[500px]">
    <p class="font-bold">Daftar Transaksi</p>
    <div *ngFor="let product of products" class="my-10">
      <p class="font-bold text-sm">Belanja</p>
      <div class="flex justify-between gap-5">
        <p>{{ product.date }}</p>
        <p class="bg-green-200 text-green-500 rounded px-2 py-0.5">
          {{ product.status }}
        </p>
        <p>{{ product.invoice }}</p>
      </div>
      <div>
        <p class="font-bold">IStorebdg</p>
        <div class="flex items-center gap-5">
          <img src="{{ product.img }}" class="w-12 h-12 rounded" />
          <div>
            <p class="font-bold">{{ product.product_name }}</p>
            <p>1 barang x Rp{{ product.price }}</p>
          </div>
          <div>
            <p>Total Belanja</p>
            <p class="font-bold">Rp{{ product.price }}</p>
          </div>
        </div>
      </div>
      <div class="flex justify-end">
        <a
          routerLink="/transactionDetail/{{ product.product_id }}"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          class="font-bold text-green-500"
        >
          Detail Transaksi
        </a>
      </div>
    </div>
  </div>
</div>
